/* Variables */
/* Hidden */
.hidden.menu {
  display: none; }

/* Global Part */
.ui.vertical.stripe {
  padding: 8em 0em; }
  .ui.vertical.stripe h3 {
    font-size: 2em; }
  .ui.vertical.stripe .button + h3, .ui.vertical.stripe p + h3 {
    margin-top: 3em; }
  .ui.vertical.stripe .floated.image {
    clear: both; }
  .ui.vertical.stripe p {
    font-size: 1.33em; }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em; }

.ui.square {
  border-radius: 0;
  border: 0; }

.ui.input input {
  border-radius: 0; }

.ui.action.input input {
  padding-right: 10.67143em !important; }

.ui.action.input > .button, .ui.action.input > .buttons > .button {
  padding-left: 2em;
  padding-right: 2em; }

.ui.action.input:not([class*="left action"]) > .button:last-child {
  border-radius: 0; }

.ui.button, .ui.basic.button {
  border-radius: 0; }

.ui.card, .ui.cards > .card {
  border: none;
  border-radius: 0; }
  .ui.card .image, .ui.cards > .card .image {
    background: transparent; }

.ui.card, .ui.cards > .card:hover {
  border: solid 1px #2185D0; }

.ui.tabular.menu .active.item {
  border-radius: 0 0 0 0 !important; }

.ui.menu .dropdown.item .menu {
  border-radius: 0 0 0 0; }

.ui.vertical.menu > .item:last-child {
  border-radius: 0 0 0 0; }

.ui.vertical.menu > .active.item:last-child {
  border-radius: 0 0 0 0; }

.ui.vertical.menu .active.item {
  background: #2185D0;
  color: white; }

.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover {
  background: #2185D0;
  color: white; }

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item {
  background: #2185d0 !important;
  color: white !important; }

.ui.inverted.blue.button, .ui.inverted.blue.buttons .button {
  box-shadow: 0 0 0 1px #2185D0 inset !important;
  color: #2185D0; }

.ui.inverted.blue.button:hover, .ui.inverted.blue.buttons .button:hover {
  background-color: #2185D0; }

.ui.inverted.blue.button:active, .ui.inverted.blue.buttons .button:active {
  background-color: #2185D0; }

.ui.inverted.blue.button:focus, .ui.inverted.blue.buttons .button:focus {
  background-color: #2185D0; }

.ui.table {
  border: 0;
  border-radius: 0; }

.ui.table thead th {
  background: none;
  border-bottom: 0; }
.ui.table tfoot th {
  background: none;
  border-top: 0; }
.ui.table tr td {
  border-top: 0; }

.ui.label {
  border-radius: 0; }

.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=file], .ui.form input[type=url], .ui.form input[type=number] {
  border-radius: 0; }

.ui.form input:not([type]):focus, .ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=search]:focus, .ui.form input[type=password]:focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=time]:focus, .ui.form input[type=file]:focus, .ui.form input[type=url]:focus, .ui.form input[type=number]:focus {
  border-radius: 0; }

.ui.checkbox .box:before, .ui.checkbox label:before {
  border-radius: 0; }

.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after {
  color: #2185D0; }

/* body */
body {
  background: #e6e6e6;
  background-color: #e6e6e6; }

#login-regis {
  background: white;
  background-color: white; }

/* Menu */
#nav-header {
  margin: 0; }

#kategori-header {
  color: #2185D0; }

/* Kategori */
.category-top-section {
  margin-top: 2em; }

#category {
  padding: 1em;
  border-top: solid 2px #2185D0; }

.ui.menu a.item.kategori:hover {
  color: white;
  background: #2185D0; }

/* Banner */
#banner {
  padding: 0;
  margin-bottom: 0; }

.center-cropped {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 440px; }

/* Icon Kategori */
.custom-section {
  margin-top: 3em; }

/* Slick */
.slick-dots {
  bottom: 50px; }

.slick-prev {
  left: 30px;
  z-index: 2; }

.slick-next {
  right: 30px;
  z-index: 2; }

.slick-prev:before, .slick-next:before {
  font-size: 30px; }

/* Kelebihan Custom */
#custom {
  position: relative;
  height: 100%;
  bottom: 80px; }

/* Icon Kategori */
.ico-category-section {
  margin-top: -4em; }

/* Show Barang */
.showroom-section {
  margin-top: 3em;
  margin-bottom: 3em; }

.barang-section {
  margin-bottom: 3em; }

#show-barang {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

/* list item */
.title-product-section {
  margin-left: 2em; }

#title-kategori {
  padding-left: 1em; }

#list-item {
  margin-top: 2em;
  margin-bottom: 3em; }

/* Breadcrumb */
/* Detail product */
.detail-top-section {
  margin-top: 2em; }

.title-detail-section {
  margin-top: 2em; }

.detail-product-section {
  margin-top: 1em; }

#detail-item {
  margin-bottom: 3em; }

.ui.image.thumbnail {
  margin-bottom: 1em; }

.ui.thumbnail:hover {
  border: solid 1px #2185D0; }

.ui.full-image {
  max-width: 340px;
  max-height: 340px; }

#image-product {
  padding-left: 0; }

#height-custom {
  height: 215px;
  max-height: 215px;
  border-radius: 0; }

/* Cart */
.nav-cart {
  margin-top: 2em;
  margin-bottom: 3em; }

.title-cart {
  margin-bottom: 2em; }

/* Sosial */
/* Footer */
.footer-section {
  margin-top: 2em;
  margin-bottom: 2em; }

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: lightgrey;
  color: black; }

.ui.link.list a.item {
  color: black; }

/* Login & Regis */
#top-login-regis {
  margin: .5em 0 .5em 0; }

#content-login-regis {
  max-width: 500px; }

/* Profile */
.profile-top-section {
  margin-top: 2em;
  margin-bottom: 2em; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }

  .masthead.segment {
    min-height: 350px; } }

/*# sourceMappingURL=app.css.map */
